.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2000;
    background-color: black;
    color: white;
    height: 10vh;
}
.boxing{
    border: 2px solid whitesmoke !important;
    font-weight:600 !important;
    background-color: rgb(255, 49, 117) !important;
    color: white !important;
    margin: 5px !important;
    border-radius: 5px !important;
}
.boxing:hover{
    color: whitesmoke !important;
    font-weight: 600 !important;
    border: 3px solid  rgb(255, 49, 117) !important;
}
.menu{
    background-color: rgb(255, 49, 117) !important;
    color: white !important;
    text-transform: capitalize !important;
    font-size:medium !important;
}
.menu:hover{
    background-color: rgb(221, 69, 120) !important;
}